name: Build, Analyze and Deploy - ProyectoDGSA

on:
  push:
    branches:
      - Develop
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Necesario para SonarCloud

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'microsoft'

      # === SONARCLOUD: Preparar análisis ===
      - name: SonarCloud - Prepare
        uses: SonarSource/sonarcloud-github-action@master
        with:
          args: >
            -Dsonar.projectKey=lRicardol_Dinosaurio_G_PS__A-Back
            -Dsonar.organization=lricardol-2
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}

      # === Compilar con Maven ===
      - name: Maven build
        run: mvn -B clean install

      # === SONARCLOUD: Ejecutar análisis ===
      - name: SonarCloud - Analyze
        uses: SonarSource/sonarcloud-github-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      # === Subir artefacto ===
      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: java-app
          path: '${{ github.workspace }}/target/*.jar'

  deploy:
    runs-on: windows-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: java-app

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_EC242D322C2D4C66BD1913BDA54C8EA6 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_24476938283C47C798FE22A2EF16B86E }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_2A6CAA3CB3C941698518A9D580D6E482 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'ProyectoDGSA'
          slot-name: 'Production'
          package: '*.jar'
